{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy Policy | MediCTRL{% endblock title %}
{% block body %}
{% block content %}
<style>
    .para1{
        height:1500px;
        width:1200px;
        font-size:15px;
        background-color:white;
        margin-left:190px;
        margin-top:150px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
</style>
<div class="para1">
    <p>CARPEDIEM HEALTH EXPERTS PRIVATE LIMITED (‘MediCtrl’) is committed to safeguarding the privacy and confidentiality of your 
        Sensitive Personal Data or Information. Please read the Privacy Policy carefully before using the Platform or registering 
        on the Platform or accessing any material or information through the Platform. By clicking on the ‘I Accept’ button, You 
        accept this Privacy Policy and agree to be legally bound by the same.com the process of you reading this privacy policy, 
        using the MediCtrl Website or mobile application (‘Platform’) or availing the existing or future services or facility provided 
        by Us, You may be required to furnish information, including Personal information and/or Sensitive Personal Information and/or 
        any other information that is of a confidential nature. You are urged to keep the information current to ensure that the 
        services and facility remain relevant and enable us to reach you. This Privacy Policy is applicable to all users/visitors/
        viewers of the Platform. This statement and the Policy outlined herein are not intended to and do not create any contractual 
        or financial or any other legal rights in favour of any User or viewer or any other party.<br><br><br>Definitions<br><br><br>
        MediCtrl or Company or Us or We - refers to CARPEDIEM HEALTH EXPERTS PRIVATE LIMITED . Privacy Policy means this privacy policy
        . You or User(s) means the person(s) visiting/accessing the Platform in any capacity. Website – refers to www.MediCtrl.com
        website and additional Portals/Micro/Mini/Mobile sites that link to the main back-end to create a distributed presence to 
        fulfil the needs & functional requirements of all segments of customers. Services – all services and products made available
        by MediCtrl through its Platform. Personal Data or Information shall have the same meaning as given in Rule 2(1)(i) of the 
        Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011.
        Sensitive Personal Data or Information: Sensitive Personal Data or Information of a person means such personal Data or
        information which consists of information relating to:<br>password;<br>financial information such as Bank account or credit 
        card or debit card or other payment instrument details;<br>any detail relating to the above clauses as provided to body 
        corporate for providing service;provided that any information that is freely and legally available or accessible in public 
        domain or furnished under any statutory provisions for the time being in force shall not be regarded as sensitive Personal 
        Data or Information for the purposes of this Privacy Policy.<br>Information We Collect<br>We receive and store any information 
        You enter on Our Platform or give Us in any other way. You can choose not to provide certain information but then You might not
        be able to take advantage of many of Our features. We use the information that You provide for such purposes as responding to
        Your requests, helping You manage Your requests, improving Our platform, prevent or detect fraud or abuses of Our Platform, 
        enable third parties to carry out technical, logistical or other functions on Our behalf and to communicate with You.<br><br>You 
        agree that We may collect certain Personal Information and Sensitive Personal Information from You which may be used for the 
        following purposes:<br><br>User Profile:<br><br>Your full name, address, gender, date of birth, age, family details, email 
        address, telephone number(s), date of birth and bank or payment account details and any proof of Your identity and/or address
        that We may request on a case to case basis.<br><br>Transaction Information:<br><br>We collect transaction details related to Your 
        use of Our Services, including the type of Services You requested or provided, Your order details, delivery information, date and time the 
        service was provided, amount charged, and payment method. Payment method includes:

    </p>
</div>
{% endblock content %}
{% endblock body %}
